*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stylish', sans-serif;
}

.gameContainer{
    margin: 0px 400px;
    margin: auto;
    left: 0px;
    height: 90vh;
    width: 620px;
    position: relative;
}
.messageCloud{
    background-image: url("images/cloud_1.png");
    background-repeat: no-repeat;
    background-size:contain;
    height: 400px;
    width: 800px;
    position: absolute;
    z-index: 3;
    top: 10vh;
    left: 8vw;
    color: black;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
}

.instruction_1{
    padding-top: 1%;
    margin: 110px 0px 0px 50px;
    width: 360px;
    max-width: 350px;
}
.playAgainButton button{
    position: absolute;
    bottom: -55px;
    left: 126px
  }
.startButton{
    margin-top: 100px;

}

button{
    box-shadow: 0 0 0.1em 0.1em rgb(197, 240, 234);
    font-size: 28px;
    margin: 14px;
    padding: 4px 12px;
    border-radius: 10px;
    color: white;
    background-color: green;
    border: none;
}
button:hover{
    background-color: rgb(7, 190, 47);
}
.instruction_1 ul, .showInLevel3 ul, .showInLevel2 ul, .showInLevel3 ul{
    list-style: none;
}

.scoreView{
    top: 8vh;
    right: 2vw;
    padding: 2px 4px;
    color: green;


}

.levelView{
    top: 1vh;
    right: 2vw;
    padding: 2px 6px;
    color:rgb(249, 2, 117);

}

.scoreView, .levelView{
    display: none;
    font-size: 30px;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 0.1em 0.1em rgb(101, 185, 120);
}



.bullet{
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    background-color: red;
    height: 10px;
    width: 8px;
}

.greenText{
    color:green;
    font-size: 22px;
    font-weight: 900;
}
.hide{
    display: none;
}

.canMove1 {
    background-image: url('images/can_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80px;
    width: 70px;
    /* left: 40px; */
    position: absolute;
    z-index: 1;
    margin-left: 20px;
    /* left: 20px; */
    border: solid 1px rgb(127, 133, 137);
    border-radius: 5px;
}

.plasticMove {
    background-image: url('images/plastic_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 400px;
    position: absolute;
    z-index: 5;
    margin-left: 20px;
    border-radius: 5px;
}

.skySpace{
    background-image: url('images/freshsky.jpg');
    background-repeat: no-repeat;

    background-size: cover;
    margin: 0px 20px 0px 20px;
    height: 650px;
    width: 580px;
    position: absolute;
    z-index: 0;
}

.pollutedSky{
    display: none;
    background-image: url('images/pollutedsky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 20px 0px 20px;
    height: 650px;
    width: 580px;
    position: absolute;
    z-index: 0;

}
.badWater{
    display: none;
    background-image: url('images/badwater.png');
    z-index: 4;
    position: absolute;
    top: 574px;
    left: 20px;
    height: 180px;
    background-repeat: repeat-x;
    animation: slideright 80s infinite linear;
    -webkit-animation: slideright 80s infinite linear;
    width: 580px;
  }

.oceanWater {
    position: absolute;
    top: 574px;
    left: 20px;
    height: 180px;
    background-image: url('images/freshwater.png');
    background-repeat: repeat-x;
    animation: slideright 80s infinite linear;
    -webkit-animation: slideright 80s infinite linear;
    width: 580px;
    z-index: 2;
  }

  

.guradFish{
    background-image: url('images/fish_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    width: 150px;
    position: absolute;
    top: 416px;
    left: 0px;
    z-index: 2;
}



.finalScoreView{
    text-align: center;
    top: 66%;
    left: 36%; 
    position: absolute; 
    z-index: 100;
    color:rgb(249, 2, 117);

}
.pinktext{
    color:rgb(249, 2, 117);

}

.gameOverScreen {
    display: none;
    background-image: url("images/cloud_1.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 396px;
    width: 470px;
    position: absolute;
    /* position: fixed; */
    top: 35%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    /* display: none;  */
    /* background-color: antiquewhite; */
    /* box-shadow: 0 0 0.1em 0.1em rgb(101, 185, 120); */
    color: green;
    /* z-index: 100; */
    z-index: 100;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    padding: 4px 14px;
    font-size: 24px;
    font-weight:800;
  }

  .firstMessage{
    padding-top: 18%;
    color:rgb(249, 2, 117);
    font-size: 28px;
    max-width: 380px;
    padding-left: 50px;
  }

  .showInstruction1{
    display : none;
  }

  .showInstruction2{
    display : none;
  }
.levelUpDetial{
    padding-top: 4%;
    max-width: 380px;
    padding-left: 50px;

}
  .continueplay{
    display : none;

  }
  .showInLevel2{
    display : none;
  }

  .showInLevel3{
    display : none;
  }

  


@keyframes slideright {
    from {
        background-position: 1000%;
    }
    to {
        background-position: 0%;
    }
  }

  @-webkit-keyframes slideright {
    from {
        background-position: 1000%;
    }
    to {
        background-position: 0%;
    }
}





